.tasksToDo, .tasksDone {
    background: var(--gray-500);
    border-radius: 8px;
    font-size: 87.5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    padding: 1rem;
    overflow-x: auto;
    margin-bottom: 1rem;
}

.deleteButton {
    all: unset;
    cursor: pointer;
    color: var(--gray-300);
    transition: color 0.1s;
}

.deleteButton:hover {
    color: rgba(254, 21, 21, 0.447);
}

.tasksToDo {
    border: 1px solid var(--gray-400);
}

.tasksDone {
    border: 1px solid var(--gray-500);
}

.tasksDone p {
    text-decoration: line-through;
    color: var(--gray-300);
}

input[type="checkbox"] {
    appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 18px;
}

input[type="checkbox"]:checked {
    background: var(--purple);
    border: none;
    height: 18px;
    width: 30.5px;
}

input[type="checkbox"]:checked::before {
    content: '✔';
    color: white;
    font-size: 14px;
}